<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="node_modules/semantic-ui/dist/semantic.css">
	<script type="text/javascript" src="node_modules/angular/angular.js"></script>	
	<script src="csv-reader.js"></script>
</head>
<body ng-app="rbc" ng-controller="rbcController">

	<h1>RBC - Caracteríscias Pessoais</h1>

	<section>
		<h3>Arquivo de características:</h3>
		<div>
			<textarea cols="200" rows="10" ng-model="dados" ng-keydown="buildCasesTable(dados)">
			</textarea>
		</div>
	</section>

	<section>
		<h2>Entrada</h2>
		<table class="ui celled table">
			<tbody>
				<tr>
					<td></td>
					<td ng-repeat="f in features">{{f.name}}</td>
				</tr>
				<tr>
					<td></td>
					<td ng-repeat="f in features">
						<input type="number" ng-model="newCase[$index]">
					</td>
				</tr>
			</tbody>
			
		</table>
	</section>

	<div>
		<input type="button" value="Analisar" ng-click="analisar(newCase, dados)">
	</div>

	<section>
		<h2>Resultado</h2>
		<table class="ui small celled striped table">
			<thead>
				<tr>
					<th>Similaridade</th>
					<th ng-repeat="f in features">{{f.name}}</th>
				</tr>
				<tr>
					<th>Grau</th>
					<th ng-repeat="f in features">
						<input type="number" ng-model="f.grau">
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="case in cases | orderBy: 'case.similarity'">
					<td> {{case.similarity}}</td>
					<td ng-repeat="cell in case.cells track by $index">{{cell}}</td>
				</tr>
			</tbody>
		</table>

	</section>

	<script type="text/javascript" src="app.js"></script>
</body>
</html>